
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    帳號:<input type="text" id="id" name="id" />
    密碼:<input type="text" id="name" name="name" />
    <input type="submit" value="登入">
    <hr>
    @ViewBag.Msg
</form>

