@model HW7Project.Models.Members

@{
//ViewBag.Title = "Details";
}



<div class="p-3">

    <div class="card border-info">
        <div class="card-header bg-info text-white">
            <h3>@Html.DisplayFor(model => model.MemberName)</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>生日:@Html.DisplayFor(model => model.MemberBirthday)</h4>
                    <h4>
                        帳號:@Html.DisplayFor(model => model.Account)
                    </h4>
                    <h4> 密碼:●●●●●●●●●●●●●●●●●●●●●●●●●●</h4>
                </div>
                <div class="col-md-4">
                   @{ 
                        var photo = Model.MemberPhotoFile == null ? "defaultPhoto.png" : Model.MemberPhotoFile;

                    }

                    <img src="~/MemberPhotos/@photo" class="img-thumbnail" />
                 
                </div>
            </div>
        </div>
        <div class="card-footer text-right bg-info text-white">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </div>

   
</div>
