@model HW7Project.Models.Members

@{
    ViewBag.Title = "Details";
}

<h2>詳細資料</h2>
<div>
    <h4>會員</h4>
    <hr />
    <div class="card">
        <div class="card-header">
            <h3>@Html.DisplayFor(model => model.MemberName)</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h4>生日：@Html.DisplayFor(model => model.MemberBirdthday)</h4>
                    <h4> 帳號：@Html.DisplayFor(model => model.Account)</h4>
                    <h4>密碼：●●●●●●●●●●●●●●●●●●●●●●●●●●</h4>
                </div>
                <div class="col-md-4">

                    @if (Model.MemberPhotoFile == null)
                    {
                        <img src="~/MemberPhoto/defaultPhoto.jpg" class="img-thumbnail" />
                    }
                    else
                    {
                        //<img src="~/MemberPhoto/@Html.DisplayFor(model => model.MemberPhotoFile)" class="img-thumbnail" />
                        <img src="~/MemberPhoto/@Model.MemberPhotoFile" class="img-thumbnail" />
                    }
                </div>

            </div>
        </div>
        <div class="card-footer">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
