body { 
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: top;
}
.MyTable {
overflow:auto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ff0000;
    content: ">";
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url('../photo/00.jpg');
    background-repeat:round;    /*預設為repeat*/
    border-radius: 0.3rem;
}

.text-shadow {
    text-shadow: 2px 2px 3px black;
}

.modal-content {
    background-image: url(../photo/03.jpg);
    background-repeat: round;
}
