body { 
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: top;
}
.MyTable {
overflow:auto;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ff0000;
    content: ">";
}