USE 教務系統 
GO
CREATE TABLE 主管 (
  員工字號 char(10) NOT NULL,
  姓名 varchar(12) NULL,
  主管字號 char(10) NULL,
  PRIMARY KEY (員工字號)
) 
GO
INSERT INTO 主管 
VALUES ('A123456789','陳慶新',NULL)
GO
INSERT INTO 主管 
VALUES ('A222222222','楊金欉','A123456789')
GO
INSERT INTO 主管 
VALUES ('H098765432','李鴻章','A222222222')
GO
GO