
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="Create" method="post">
        <p>
            學號：<input name="SId" />
            姓名：<input name="SName" />
            成績：<input name="Score" />
        </p>
        <input type="submit" value="登錄成績" />
    </form>

    <p>
        學號：@ViewBag.SId
        姓名：@ViewBag.SName
        成績：@ViewBag.Score
    </p>
</body>
</html>
