
@{
    ViewBag.Title = "Index";
}

<h2>前台首頁</h2>

<div class="container">
    <div class="row">

        <div class="col-4">
            <h4>最新消息</h4>
            @Html.Action("_ProductList")
        </div>

        <div class="col-4">
            <h4>最新產品</h4>
        </div>

        <div class="col-4">
            <h4>最新留言</h4>
        </div>
    </div>


</div>