@model IEnumerable<HW7Project.Models.Products>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-3">
            <img src="@Url.Action("GetImage","Products", new {id=item.ProductID})" class="img-thumbnail" />
            <div class="card-body">
                <input class="PID" type="hidden" value="@item.ProductID">
                <h5><strong class="PName">@Html.DisplayFor(modelItem => item.ProductName)</strong></h5>
                <h6 class="text-secondary text-right" style="text-decoration:line-through">原價:@(item.UnitPrice)*5</h6>
                <h1 class="text-danger text-center"><strong>特價 <span class="Price">@Html.DisplayFor(modelItem => item.UnitPrice)</span></strong></h1>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-lg btn-block addCart">加入購物車</button>
            </div>
        </div>
    }

</div>


@section scripts{
    <script>
        var cart = [];
        if (localStorage.getItem("cart")) {
            cart = JSON.parse(localStorage.getItem("cart"));
        }

        $('.addCart').click(function () {

            let product = $(this).closest('.card');

            let newPID = product.find('.PID').val();
            let pName = product.find('.PName').text();
            let price = product.find('Price').attr("title");    //attr找HTML的屬性
            let amount = 1;

            

            //物件
            let newItem = {
                PID: newPID,
                PName: pName,
                Price: price,
                amount: amount
            };
            cart.push(newItem);
            console.log(cart);

            localStorage.setItem("cart", JSON.stringify(cart)); //JSON.stringify(cart):轉JSON
            alert('已加入購物車');
        });

        localSrorage.setItem("cart");


    </script>

}