USE [master]
GO
/****** Object:  Database [C:\MVC\CH06\SLNLINQ\PRJLINQ\APP_DATA\NORTHWIND.MDF]    Script Date: 2022/5/25 下午 02:25:53 ******/
CREATE DATABASE [C:\MVC\CH06\SLNLINQ\PRJLINQ\APP_DATA\NORTHWIND.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Northwind', FILENAME = N'D:\WebApplication\00Northwind\App_Data\Northwind.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Northwind_log', FILENAME = N'D:\WebApplication\00Northwind\App_Data\Northwind_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\MVC\CH06\SLNLINQ\PRJLINQ\APP_DATA\NORTHWIND.MDF].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [C:\MVC\CH06\SLNLINQ\PRJLINQ\APP_DATA\NORTHWIND.MDF]
GO
/****** Object:  Table [dbo].[供應商]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[供應商](
	[供應商編號] [int] IDENTITY(1,1) NOT NULL,
	[供應商] [nvarchar](40) NOT NULL,
	[連絡人] [nvarchar](30) NULL,
	[連絡人職稱] [nvarchar](30) NULL,
	[地址] [nvarchar](60) NULL,
	[城市] [nvarchar](15) NULL,
	[行政區] [nvarchar](15) NULL,
	[郵遞區號] [nvarchar](10) NULL,
	[國家地區] [nvarchar](15) NULL,
	[電話] [nvarchar](24) NULL,
	[傳真電話] [nvarchar](24) NULL,
	[首頁] [nvarchar](max) NULL,
 CONSTRAINT [PK_供應商] PRIMARY KEY CLUSTERED 
(
	[供應商編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[客戶]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[客戶](
	[客戶編號] [nvarchar](5) NOT NULL,
	[公司名稱] [nvarchar](40) NOT NULL,
	[連絡人] [nvarchar](30) NULL,
	[連絡人職稱] [nvarchar](30) NULL,
	[地址] [nvarchar](60) NULL,
	[城市] [nvarchar](15) NULL,
	[行政區] [nvarchar](15) NULL,
	[郵遞區號] [nvarchar](10) NULL,
	[國家地區] [nvarchar](15) NULL,
	[電話] [nvarchar](24) NULL,
	[傳真電話] [nvarchar](24) NULL,
 CONSTRAINT [PK_客戶] PRIMARY KEY CLUSTERED 
(
	[客戶編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[訂貨主檔]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[訂貨主檔](
	[訂單號碼] [int] IDENTITY(1,1) NOT NULL,
	[客戶編號] [nvarchar](5) NULL,
	[員工編號] [int] NULL,
	[訂單日期] [datetime] NULL,
	[要貨日期] [datetime] NULL,
	[送貨日期] [datetime] NULL,
	[送貨方式] [int] NULL,
	[運費] [money] NULL,
	[收貨人] [nvarchar](40) NULL,
	[送貨地址] [nvarchar](60) NULL,
	[送貨城市] [nvarchar](15) NULL,
	[送貨行政區] [nvarchar](15) NULL,
	[送貨郵遞區號] [nvarchar](10) NULL,
	[送貨國家地區] [nvarchar](15) NULL,
 CONSTRAINT [PK_訂貨主檔] PRIMARY KEY CLUSTERED 
(
	[訂單號碼] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[訂貨明細]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[訂貨明細](
	[訂單號碼] [int] NOT NULL,
	[產品編號] [int] NOT NULL,
	[單價] [money] NOT NULL,
	[數量] [smallint] NOT NULL,
	[折扣] [real] NOT NULL,
 CONSTRAINT [PK_訂貨明細] PRIMARY KEY CLUSTERED 
(
	[訂單號碼] ASC,
	[產品編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[員工]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[員工](
	[員工編號] [int] IDENTITY(1,1) NOT NULL,
	[姓名] [nvarchar](20) NOT NULL,
	[名] [nvarchar](10) NOT NULL,
	[職稱] [nvarchar](30) NULL,
	[稱呼] [nvarchar](25) NULL,
	[出生日期] [datetime] NULL,
	[雇用日期] [datetime] NULL,
	[地址] [nvarchar](60) NULL,
	[城市] [nvarchar](15) NULL,
	[行政區] [nvarchar](15) NULL,
	[區域號碼] [nvarchar](10) NULL,
	[國家地區] [nvarchar](15) NULL,
	[電話號碼] [nvarchar](24) NULL,
	[內部分機號碼] [nvarchar](4) NULL,
	[相片] [nvarchar](255) NULL,
	[附註] [nvarchar](max) NULL,
	[主管] [int] NULL,
 CONSTRAINT [PK_員工] PRIMARY KEY CLUSTERED 
(
	[員工編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[產品資料]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[產品資料](
	[產品編號] [int] IDENTITY(1,1) NOT NULL,
	[產品] [nvarchar](40) NOT NULL,
	[供應商編號] [int] NULL,
	[類別編號] [int] NULL,
	[單位數量] [nvarchar](20) NULL,
	[單價] [money] NULL,
	[庫存量] [smallint] NULL,
	[已訂購量] [smallint] NULL,
	[安全存量] [smallint] NULL,
	[不再銷售] [bit] NOT NULL,
 CONSTRAINT [PK_產品資料] PRIMARY KEY CLUSTERED 
(
	[產品編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[產品類別]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[產品類別](
	[類別編號] [int] IDENTITY(1,1) NOT NULL,
	[類別名稱] [nvarchar](15) NOT NULL,
	[說明] [nvarchar](max) NULL,
	[圖片] [image] NULL,
 CONSTRAINT [PK_產品類別] PRIMARY KEY CLUSTERED 
(
	[類別編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[貨運公司]    Script Date: 2022/5/25 下午 02:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[貨運公司](
	[貨運公司編號] [int] IDENTITY(1,1) NOT NULL,
	[貨運公司名稱] [nvarchar](40) NOT NULL,
	[電話] [nvarchar](24) NULL,
 CONSTRAINT [PK_貨運公司] PRIMARY KEY CLUSTERED 
(
	[貨運公司編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[供應商] ON 

INSERT [dbo].[供應商] ([供應商編號], [供應商], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話], [首頁]) VALUES (1, N'桶一', N'陳小姐', N'業務', N'新竹市竹北路10號', N'新竹市', N'新竹', N'85511', NULL, N'(03) 555-2222', N'(03) 555-2222', NULL)
INSERT [dbo].[供應商] ([供應商編號], [供應商], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話], [首頁]) VALUES (2, N'光權', N'黃小姐', N'董事長', N'台中市中港路一段9號', N'台中市', N'台中', N'70117', NULL, N'(03) 555-4822', N'(03) 555-4822', NULL)
INSERT [dbo].[供應商] ([供應商編號], [供應商], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話], [首頁]) VALUES (3, N'生活妙', N'胡先生', N'董事長', N'南投縣南投路89號', N'南投縣', N'南投', N'48104', NULL, N'(02) 555-5735', N'(02) 555-5735', NULL)
SET IDENTITY_INSERT [dbo].[供應商] OFF
GO
INSERT [dbo].[客戶] ([客戶編號], [公司名稱], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話]) VALUES (N'ALFKI', N'三川實業有限公司', N'陳小姐', N'業務', N'台北市忠孝東路四段32號', N'台北市', N'忠孝區', N'12209', NULL, N'(02) 968-9652', N'(02) 968-9651')
INSERT [dbo].[客戶] ([客戶編號], [公司名稱], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話]) VALUES (N'ANATR', N'東南實業', N'黃小姐', N'董事長', N'台中市仁愛路二段120號', N'台中市', N'仁愛區', N'05021', NULL, N'(03) 862-9682', N'(03) 862-9683')
INSERT [dbo].[客戶] ([客戶編號], [公司名稱], [連絡人], [連絡人職稱], [地址], [城市], [行政區], [郵遞區號], [國家地區], [電話], [傳真電話]) VALUES (N'ANTON', N'坦森行貿易', N'胡先生', N'董事長', N'高雄市中正路一段12號', N'高雄市', N'中正區', N'05023', NULL, N'(04) 256-6932', N'(04) 256-6922')
GO
SET IDENTITY_INSERT [dbo].[訂貨主檔] ON 

INSERT [dbo].[訂貨主檔] ([訂單號碼], [客戶編號], [員工編號], [訂單日期], [要貨日期], [送貨日期], [送貨方式], [運費], [收貨人], [送貨地址], [送貨城市], [送貨行政區], [送貨郵遞區號], [送貨國家地區]) VALUES (10248, N'VINET', 5, CAST(N'1996-07-04T00:00:00.000' AS DateTime), CAST(N'1996-08-01T00:00:00.000' AS DateTime), CAST(N'1996-07-16T00:00:00.000' AS DateTime), 3, 32.3800, N'余小姐', N'台北市北平東路24號3樓之一', N'台北市', N'北平', N'51100', NULL)
INSERT [dbo].[訂貨主檔] ([訂單號碼], [客戶編號], [員工編號], [訂單日期], [要貨日期], [送貨日期], [送貨方式], [運費], [收貨人], [送貨地址], [送貨城市], [送貨行政區], [送貨郵遞區號], [送貨國家地區]) VALUES (10249, N'TOMSP', 6, CAST(N'1996-07-05T00:00:00.000' AS DateTime), CAST(N'1996-08-16T00:00:00.000' AS DateTime), CAST(N'1996-07-10T00:00:00.000' AS DateTime), 1, 11.6100, N'謝小姐', N'高雄市中正路一段12號', N'高雄市', N'中正', N'44087', NULL)
INSERT [dbo].[訂貨主檔] ([訂單號碼], [客戶編號], [員工編號], [訂單日期], [要貨日期], [送貨日期], [送貨方式], [運費], [收貨人], [送貨地址], [送貨城市], [送貨行政區], [送貨郵遞區號], [送貨國家地區]) VALUES (10250, N'HANAR', 4, CAST(N'1996-07-08T00:00:00.000' AS DateTime), CAST(N'1996-08-05T00:00:00.000' AS DateTime), CAST(N'1996-07-12T00:00:00.000' AS DateTime), 2, 65.8300, N'謝小姐', N'高雄市中正路一段12號', N'高雄市', N'中正', N'05454', NULL)
GO
SET IDENTITY_INSERT [dbo].[訂貨主檔] OFF
GO
INSERT [dbo].[訂貨明細] ([訂單號碼], [產品編號], [單價], [數量], [折扣]) VALUES (10248, 42, 9.8000, 10, 0)
INSERT [dbo].[訂貨明細] ([訂單號碼], [產品編號], [單價], [數量], [折扣]) VALUES (10248, 72, 34.8000, 5, 0)
INSERT [dbo].[訂貨明細] ([訂單號碼], [產品編號], [單價], [數量], [折扣]) VALUES (10249, 14, 18.6000, 9, 0)
GO
SET IDENTITY_INSERT [dbo].[員工] ON 

INSERT [dbo].[員工] ([員工編號], [姓名], [名], [職稱], [稱呼], [出生日期], [雇用日期], [地址], [城市], [行政區], [區域號碼], [國家地區], [電話號碼], [內部分機號碼], [相片], [附註], [主管]) VALUES (1, N'張瑾雯', N'Mary', N'業務', N'小姐', CAST(N'1968-12-08T00:00:00.000' AS DateTime), CAST(N'1992-01-05T00:00:00.000' AS DateTime), N'北市仁愛路二段56號', N'台北市', N'中山', N'98122', NULL, N'(02) 2555-9857', N'5467', N'EMPID1.BMP', N'財力雄厚, 負責認真', 2)
INSERT [dbo].[員工] ([員工編號], [姓名], [名], [職稱], [稱呼], [出生日期], [雇用日期], [地址], [城市], [行政區], [區域號碼], [國家地區], [電話號碼], [內部分機號碼], [相片], [附註], [主管]) VALUES (2, N'陳季暄', N'Bradley', N'業務經理', N'先生', CAST(N'1952-02-19T00:00:00.000' AS DateTime), CAST(N'1992-08-14T00:00:00.000' AS DateTime), N'北市敦化南路一段1號', N'台北市', N'大同', N'98401', NULL, N'(02) 2555-9482', N'3457', N'EMPID2.BMP', N'工作態度認真', 5)
INSERT [dbo].[員工] ([員工編號], [姓名], [名], [職稱], [稱呼], [出生日期], [雇用日期], [地址], [城市], [行政區], [區域號碼], [國家地區], [電話號碼], [內部分機號碼], [相片], [附註], [主管]) VALUES (3, N'趙飛燕', N'Kim', N'業務', N'小姐', CAST(N'1963-08-30T00:00:00.000' AS DateTime), CAST(N'1992-04-01T00:00:00.000' AS DateTime), N'北市忠孝東路四段4 號', N'台北市', N'松山', N'98033', NULL, N'(02) 2555-3412', N'3355', N'EMPID3.BMP', N'工作有效率', 2)
SET IDENTITY_INSERT [dbo].[員工] OFF
GO
SET IDENTITY_INSERT [dbo].[產品資料] ON 

INSERT [dbo].[產品資料] ([產品編號], [產品], [供應商編號], [類別編號], [單位數量], [單價], [庫存量], [已訂購量], [安全存量], [不再銷售]) VALUES (1, N'蘋果汁', 1, 1, N'每箱24瓶', 18.0000, 39, 0, 10, 0)
INSERT [dbo].[產品資料] ([產品編號], [產品], [供應商編號], [類別編號], [單位數量], [單價], [庫存量], [已訂購量], [安全存量], [不再銷售]) VALUES (2, N'牛奶', 1, 1, N'每箱24瓶', 19.0000, 17, 40, 25, 0)
INSERT [dbo].[產品資料] ([產品編號], [產品], [供應商編號], [類別編號], [單位數量], [單價], [庫存量], [已訂購量], [安全存量], [不再銷售]) VALUES (3, N'蕃茄醬', 1, 2, N'每箱12瓶', 10.0000, 13, 70, 25, 0)
SET IDENTITY_INSERT [dbo].[產品資料] OFF
GO
SET IDENTITY_INSERT [dbo].[產品類別] ON 

SET IDENTITY_INSERT [dbo].[產品類別] OFF
GO
SET IDENTITY_INSERT [dbo].[貨運公司] ON 

INSERT [dbo].[貨運公司] ([貨運公司編號], [貨運公司名稱], [電話]) VALUES (1, N'快遞', N'(503) 555-9831')
INSERT [dbo].[貨運公司] ([貨運公司編號], [貨運公司名稱], [電話]) VALUES (2, N'郵寄', N'(503) 555-3199')
INSERT [dbo].[貨運公司] ([貨運公司編號], [貨運公司名稱], [電話]) VALUES (3, N'親送', N'(503) 555-9931')
SET IDENTITY_INSERT [dbo].[貨運公司] OFF
GO
ALTER TABLE [dbo].[訂貨主檔]  WITH CHECK ADD  CONSTRAINT [FK_訂貨主檔_客戶] FOREIGN KEY([客戶編號])
REFERENCES [dbo].[客戶] ([客戶編號])
GO
ALTER TABLE [dbo].[訂貨主檔] CHECK CONSTRAINT [FK_訂貨主檔_客戶]
GO
ALTER TABLE [dbo].[訂貨主檔]  WITH CHECK ADD  CONSTRAINT [FK_訂貨主檔_員工] FOREIGN KEY([員工編號])
REFERENCES [dbo].[員工] ([員工編號])
GO
ALTER TABLE [dbo].[訂貨主檔] CHECK CONSTRAINT [FK_訂貨主檔_員工]
GO
ALTER TABLE [dbo].[訂貨主檔]  WITH CHECK ADD  CONSTRAINT [FK_訂貨主檔_貨運公司] FOREIGN KEY([送貨方式])
REFERENCES [dbo].[貨運公司] ([貨運公司編號])
GO
ALTER TABLE [dbo].[訂貨主檔] CHECK CONSTRAINT [FK_訂貨主檔_貨運公司]
GO
ALTER TABLE [dbo].[訂貨明細]  WITH CHECK ADD  CONSTRAINT [FK_訂貨明細_訂貨主檔] FOREIGN KEY([訂單號碼])
REFERENCES [dbo].[訂貨主檔] ([訂單號碼])
GO
ALTER TABLE [dbo].[訂貨明細] CHECK CONSTRAINT [FK_訂貨明細_訂貨主檔]
GO
ALTER TABLE [dbo].[訂貨明細]  WITH CHECK ADD  CONSTRAINT [FK_訂貨明細_產品資料] FOREIGN KEY([產品編號])
REFERENCES [dbo].[產品資料] ([產品編號])
GO
ALTER TABLE [dbo].[訂貨明細] CHECK CONSTRAINT [FK_訂貨明細_產品資料]
GO
ALTER TABLE [dbo].[產品資料]  WITH CHECK ADD  CONSTRAINT [FK_產品資料_供應商] FOREIGN KEY([供應商編號])
REFERENCES [dbo].[供應商] ([供應商編號])
GO
ALTER TABLE [dbo].[產品資料] CHECK CONSTRAINT [FK_產品資料_供應商]
GO
ALTER TABLE [dbo].[產品資料]  WITH CHECK ADD  CONSTRAINT [FK_產品資料_產品類別] FOREIGN KEY([類別編號])
REFERENCES [dbo].[產品類別] ([類別編號])
GO
ALTER TABLE [dbo].[產品資料] CHECK CONSTRAINT [FK_產品資料_產品類別]
GO
USE [master]
GO
