
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="@Url.Action("Create")" method="post">
    編號:<input id="cid" type="text" name="cid" /><br />
    名稱:<input id="cname" type="text" name="cname" /><br />
    學分:<input id="credit" type="text" name="credit" /><br />
    <input id="Submit1" type="submit" value="新增" />
</form>
