
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <form action="Create" method="post">
        <p>
            學號:<input name="SId" type="text"><br />
            姓名:<input name="SName" type="text"><br />
            分數:<input name="Score" type="text">
        </p>
        <input type="submit" value="送出" />
    </form>
    <p>學號:@ViewBag.SId</p>
    <p>姓名:@ViewBag.SName</p>
    <p>分數:@ViewBag.Score</p>
</body>
</html>
